.maskGroup {
  position: absolute;
  top: calc(50% - 130px);
  left: calc(50% + 19.5px);
  width: 277px;
  height: 288px;
}
.coverIcon {
  overflow: hidden;
  object-fit: cover;
}
.background,
.coverIcon,
.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 823px;
}
.filter {
  overflow: hidden;
}
.background {
  display: none;
}
.coverIcon1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 683px);
  border-radius: var(--br-5xl);
  max-height: 100%;
  width: 671px;
  overflow: hidden;
  object-fit: cover;
}
.component1Parent {
  position: absolute;
  top: 50px;
  left: 723px;
  width: 585px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.coverParent {
  top: calc(50% - 214px);
  left: calc(50% - 682.5px);
  border-radius: var(--br-5xl);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(14, 29, 168, 0.7) 0.9%,
      rgba(101, 96, 167, 0.62) 55.47%,
      rgba(253, 171, 1, 0)
    ),
    linear-gradient(#bababa, #bababa), #fdab01;
  width: 1366px;
  height: 554px;
  overflow: hidden;
}
.aboutUs4,
.coverParent,
.h2 {
  position: absolute;
}
.h2 {
  top: 94px;
  left: 808px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
.aboutUs4 {
  top: 2968px;
  left: calc(50% - 892.5px);
  background-color: var(--color-whitesmoke-200);
  width: 1785px;
  height: 878px;
  overflow: hidden;
  text-align: center;
  font-size: var(--h2-size);
  color: var(--text);
  font-family: var(--paragraph);
}
