.aboutUsFooterChild {
  position: absolute;
  width: calc(100% - 441px);
  right: 331px;
  bottom: 37.11px;
  left: 110px;
  max-width: 100%;
  overflow: hidden;
  height: 3.89px;
  opacity: 0.6;
}
.copyright2020 {
  position: absolute;
  bottom: 14px;
  left: 124px;
  line-height: 24px;
  opacity: 0.8;
}
.div {
  position: relative;
  line-height: 24px;
}
.rockefellerPlazanewYork {
  margin: 0;
}
.aboutUsFooterInner,
.parent,
.termOfUseParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.aboutUsFooterInner,
.termOfUseParent {
  position: absolute;
  flex-direction: row;
}
.aboutUsFooterInner {
  top: 141px;
  left: 124px;
}
.termOfUseParent {
  top: 352px;
  right: 23px;
  gap: var(--gap-21xl);
  opacity: 0.8;
}
.downloads {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 500;
}
.frameChild {
  position: relative;
  width: 180px;
  height: 72px;
}
.downloadsParent,
.facebookParent,
.learnMoreParent,
.socialParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.downloadsParent {
  position: absolute;
  top: 39px;
  left: 1525px;
  gap: var(--gap-11xl);
  font-size: var(--h4-size);
}
.facebookParent,
.learnMoreParent,
.socialParent {
  gap: var(--gap-xs);
  font-size: var(--paragraph-size);
}
.learnMoreParent,
.socialParent {
  position: absolute;
  top: 39px;
  left: 1301px;
  gap: var(--gap-11xl);
  font-size: var(--h4-size);
}
.learnMoreParent {
  left: 1061px;
}
.logoIcon {
  position: absolute;
  top: 51px;
  left: 124px;
  width: 184px;
  height: 49px;
  object-fit: cover;
}
.aboutUsFooter {
  position: absolute;
  top: 5581px;
  left: calc(50% - 892.5px);
  background-color: var(--color-gray-100);
  width: 1785px;
  height: 326px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--light-text-color);
  font-family: var(--paragraph);
}
