.profilesChild {
  position: absolute;
  top: calc(50% - 559px);
  left: calc(50% + 268.5px);
  border-radius: var(--br-mini);
  background-color: var(--light-text-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-midnightblue);
  box-sizing: border-box;
  width: 292px;
  height: 467px;
}
.snskakaotalkIcon {
  position: absolute;
  top: calc(50% - 152px);
  left: calc(50% + 426.57px);
  width: 23.52px;
  height: 25px;
}
.glyphLogoMay20161Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.profilesItem,
.snsfacebook,
.snsinstagram {
  position: absolute;
  top: calc(50% - 152px);
  left: calc(50% + 332.5px);
  width: 23.52px;
  height: 25px;
}
.profilesItem,
.snsfacebook {
  left: calc(50% + 379.53px);
}
.profilesItem {
  top: calc(50% - 559px);
  left: calc(50% - 150.5px);
  border-radius: var(--br-mini);
  background-color: var(--light-text-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-midnightblue);
  box-sizing: border-box;
  width: 292px;
  height: 467px;
}
.snsfacebook1,
.snsinstagram1 {
  position: absolute;
  top: calc(50% - 152px);
  left: calc(50% - 89.5px);
  width: 23.52px;
  height: 25px;
}
.snsfacebook1 {
  left: calc(50% - 42.47px);
}
.profilesChild1,
.profilesInner,
.rectangleDiv {
  position: absolute;
  top: calc(50% + 92px);
  left: calc(50% - 150.5px);
  border-radius: var(--br-mini);
  background-color: var(--light-text-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-midnightblue);
  box-sizing: border-box;
  width: 292px;
  height: 467px;
}
.profilesChild1,
.rectangleDiv {
  top: calc(50% + 91.5px);
  left: calc(50% + 268px);
  background-color: var(--color-whitesmoke-100);
  border: 5px solid var(--color-gold);
  width: 293px;
  height: 468px;
}
.profilesChild1 {
  top: calc(50% - 559px);
  left: calc(50% - 558.5px);
  background-color: var(--light-text-color);
  border: 4px solid var(--color-midnightblue);
  width: 292px;
  height: 467px;
}
.rectangleIcon,
.snskakaotalkIcon1 {
  position: absolute;
  top: calc(50% - 152px);
  left: calc(50% - 402.43px);
  width: 23.52px;
  height: 25px;
}
.rectangleIcon {
  top: calc(50% + 92px);
  left: calc(50% - 564.5px);
  border-radius: var(--br-mini);
  width: 300px;
  height: 475px;
}
.screenshot20230815At813,
.screenshot20230815At814 {
  position: absolute;
  top: calc(50% - 527px);
  left: calc(50% - 492.5px);
  width: 163px;
  height: 201px;
  object-fit: cover;
}
.screenshot20230815At813 {
  top: calc(50% - 528px);
  left: calc(50% + 332.5px);
  height: 202px;
}
.screenshot20230815At8141,
.screenshot20230815At815,
.screenshot20230815At816 {
  position: absolute;
  top: calc(50% - 527px);
  left: calc(50% - 83.5px);
  width: 163px;
  height: 201px;
  object-fit: cover;
}
.screenshot20230815At815,
.screenshot20230815At816 {
  top: calc(50% + 124px);
  left: calc(50% - 89.5px);
}
.screenshot20230815At815 {
  left: calc(50% - 496.5px);
}
.minsuKim {
  margin: 0;
  font-size: var(--font-size-3xl);
}
.blankLine {
  margin: 0;
}
.leadBackendDeveloper {
  margin: 0;
  font-size: var(--font-size-lg);
}
.minsuKimLeadContainer {
  position: absolute;
  top: calc(50% + 351px);
  left: calc(50% - 516.5px);
  letter-spacing: 0.46px;
  display: inline-block;
  width: 211px;
  height: 104px;
}
.interestedInWorking {
  margin: 0;
  font-weight: 600;
}
.blankLine2 {
  margin: 0;
  font-size: var(--h4-size);
  font-weight: 800;
}
.interestedInWorkingContainer {
  position: absolute;
  top: calc(50% + 384px);
  left: calc(50% + 290.5px);
  letter-spacing: 0.46px;
  text-align: left;
  display: inline-block;
  width: 248px;
  height: 37px;
  font-size: var(--paragraphe-size);
}
.snsfacebook2,
.snsinstagram2,
.snsinstagram3,
.snskakaotalkIcon2 {
  position: absolute;
  top: calc(50% - 152px);
  left: calc(50% - 496.5px);
  width: 23.52px;
  height: 25px;
}
.snsfacebook2,
.snsinstagram3,
.snskakaotalkIcon2 {
  left: calc(50% - 449.47px);
}
.snsinstagram3,
.snskakaotalkIcon2 {
  top: calc(50% + 498px);
  left: calc(50% + 4.57px);
}
.snsinstagram3 {
  left: calc(50% - 89.5px);
}
.applyNow,
.snsfacebook3,
.snsfacebook4,
.snsinstagram4,
.snskakaotalkIcon3 {
  position: absolute;
  top: calc(50% + 498px);
  left: calc(50% - 42.47px);
  width: 23.52px;
  height: 25px;
}
.applyNow,
.snsfacebook4,
.snsinstagram4,
.snskakaotalkIcon3 {
  left: calc(50% - 398.43px);
}
.applyNow,
.snsfacebook4,
.snsinstagram4 {
  left: calc(50% - 492.5px);
}
.applyNow,
.snsfacebook4 {
  left: calc(50% - 445.47px);
}
.applyNow {
  top: calc(50% + 446px);
  left: calc(50% + 304.5px);
  letter-spacing: 0.46px;
  font-weight: 800;
  color: var(--color-royalblue-100);
  display: inline-block;
  width: 220px;
  height: 28px;
}
.noProfilePictureIcon181 {
  position: absolute;
  top: calc(50% + 124px);
  left: calc(50% + 332.5px);
  width: 163px;
  height: 201px;
  object-fit: cover;
}
.shinbeomKwonFrontendContainer {
  position: absolute;
  top: calc(50% - 298px);
  left: calc(50% - 529.5px);
  letter-spacing: 0.46px;
  display: inline-block;
  width: 250px;
  height: 127px;
}
.blankLine8 {
  margin: 0;
  font-size: var(--font-size-9xl);
}
.junheeHanBackendContainer,
.sangjunMinLeadContainer,
.tanviKherFullContainer {
  position: absolute;
  top: calc(50% - 296px);
  left: calc(50% + 308.5px);
  letter-spacing: 0.46px;
  display: inline-block;
  width: 220px;
  height: 109px;
}
.junheeHanBackendContainer,
.tanviKherFullContainer {
  top: calc(50% + 352px);
  left: calc(50% - 109.5px);
  width: 208px;
  height: 126px;
}
.tanviKherFullContainer {
  top: calc(50% - 296px);
  left: calc(50% - 105.5px);
  width: 207px;
  height: 128px;
}
.profiles {
  position: absolute;
  top: calc(50% + 1346.5px);
  left: calc(50% - 518.5px);
  width: 1117px;
  height: 1114px;
  text-align: center;
  font-size: var(--h4-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
